.products_container {
  display: grid;
  grid-template-columns: repeat(5, 248px);
  grid-auto-rows: 296px;
  position: relative;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 72px 300px 72px 300px;   
  border-color:  #E4E7E9;
  border: 1px;
  
}

.products_container > :first-child {
  grid-row: span 2; /* El primer hijo ocupa dos filas */
}

.products_container > :first-child img{
  grid-row: span 2; 
  width: 280px;
  height: 268px;
}


.products_container img {
  width: 216px;
  height: 188px;
  object-fit: contain; /* Ajusta la imagen para que se ajuste dentro del espacio sin deformarse */
  justify-self: center; /* Centra la imagen horizontalmente dentro de la celda del grid */
  align-self: center;   /* Centra la imagen verticalmente dentro de la celda del grid */
  margin-bottom: 15px;
}

.products_container h2 {
  font-size: 13px;
  font-weight:500;

}

.products_container p {
  color: #2DA5F3;
  font-weight: bold;
  margin-top:5px;
}

.products_container button{
  color: white;
  background-color: #FA8232;
  border:none;
  padding: 0px 24px 0px 24px;
  gap: 8px;
  border-radius: 2px;
  opacity: 0px;
  height: 48px;
  margin-top: 8px;
  justify-self: center;
  

}

.discount_container{
  background-color: #EFD33D;
  width: 35%;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}
#discount{
  color: black;
}
