.parent_download_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #303639;
    height: 69px;
    width: 176px;
    align-items: center;
    padding: 8px;
    border-radius: 2px;
    
}

.parent_download_card img{
    margin:  auto;
}
.parent_download_card h4{
    font-size: 13px;
}